/********** PC SCREEN **********/
@media screen and (min-width:992px) {
   
    .content-container-section {
        background-color: var(--bg);
    }
    .content-container {
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* add some space between items */
    }

    .content {
        width: calc(33.33% - 20px); /* subtracting 20px for margin */
        margin-bottom: 20px;
        padding: 10px;
    }
    
    .content-image {
        width: 100%;
        display: block;
        border-radius: 10px;
    }

    .content-text{
        display: none;
    }
    
    .content-caption {
        margin-top: 10px;
        padding: 0px;
        font-size: 22px;
        margin-left: 10px;
        font-family: Font0;
        color: var(--text);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-in-out;
    }
   
    .content-caption.show {
        max-height: 500px;
    }
    
    .content-details {
        font-size: 20px;
        font-family: Font0;
        margin-left: 20px;
        color: var(--text);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-in-out;
    }
    
    .content-details.show {
        max-height: 500px;
    }
    
 
    /* For Video */
    .content-video{
        width: calc(33.33% - 20px); /* subtracting 20px for margin */
        margin-bottom: 20px;
        padding: 10px;
        /* height: 58vh !important; */
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .content-title{
        text-align: center;
        color: var(--text);
        font-size: 25px;
        font-family: Font0;
        margin: 10px;
    }
    .content-link{
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        font-family: Font0;
        color: var(--theme);
        border: 2px solid var(--theme);
        padding: 8px 18px;
        width: 28%;
        margin: 0 auto;
        display: block;
    }
}


/********** MOBILE SCREEN **********/
@media screen and (max-width:992px){
    header {
        text-align: center;
        background-color: var(--bg);
        color: var(--text);
        font-family: Font0;
        padding: 20px;
    }
    #page-title{
        font-size: 25px;
    }
    .content-container-section {
        background-color: var(--bg);
        padding-bottom: 20px;
    }
    
    .content-container {
        width: 88%;
        margin: 0 auto;
    }
    
    .content {
        /* border: 1px solid var(--theme);
        border-radius: 20px;
        background-color: #222222; */
        padding: 10px;
        margin-bottom: 20px;
    }
    
    .content-image {
        width: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 10px;
    
    }
    
    
    .content-caption {
        margin-top: 10px;
        padding: 0px;
        font-size: 22px;
        margin-left: 10px;
        font-family: Font0;
        color: var(--text);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-in-out;
    }
    
    
    .content-caption.show {
        max-height: 500px;
    }
    
    .content-details {
        font-size: 20px;
        font-family: Font0;
        margin-left: 20px;
        color: var(--text);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-in-out;
    }
    
    .content-details.show {
        max-height: 500px;
    }





    /* For Video */
    .content-video{
        padding-bottom: 25px;
    }
    .content-title{
        text-align: center;
        color: var(--text);
        font-size: 25px;
        font-family: Font0;
        margin: 10px;
    }
    .content-link{
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        font-family: Font0;
        color: var(--theme);
        border: 2px solid var(--theme);
        padding: 8px 18px;
        width: 28%;
        margin: 0 auto;
        display: block;
    }

    
}
@media only screen and (max-width: 320px) {
    .content-link{
        width: 35%;
        font-size: 18px;
    }
    .content-title{
        font-size: 20px;

    }
}