/********** PC SCREEN **********/
@media screen and (min-width:992px) {
   
    .content-container-section{
        background-color: var(--bg);
        
    }

    #page-title{
        text-align: center;
        font-size: 23px;
        font-family: Font0;
        color: white;
        padding-top: 10px;
        transition: 0.2s;

    }
    #page-title:hover{
        color: var(--theme);
        transition: 0.2s;
    }

    .container{
        width: 98% !important;
    }
    .file{
        text-align: center;
        margin: 20px 0px;
        padding: 10px 10px;

        /* background-color: #202020; */
        /* border-radius: 10px; */
        /* border: 2px solid var(--theme); */
    }
    #image{
        width: 95%;
        border-radius: 10px;
        border: 1px solid var(--dim);
        transition: 0.1s;
    }
    #image:hover{
        border: 1px solid var(--theme);
        transition: 0.1s;
    }
    #caption{
        display: none;
        color: white;
    }


    .image-details{
        font-size: 22px;
        font-weight: 700;
        font-family: Font0;
        text-align: left;
        margin-left: 20px;
    }
    .details-caption{
        color: azure;    
        text-align: left;
        margin-left: 20px;
    }
    .details-text{
        font-size: 20px;
        font-family: Font0;    
        text-align: left;
        margin-left: 20px;
    }
    .origin-image-link-btn{
        text-decoration: none;
        font-size: 16px;
        color: var(--theme);
        font-family: Font0;
        font-weight: 700;
        border: 2px solid var(--theme);
        /* border-radius: 100px; */
        padding: 8px 18px;
        transition: 0.2s;

    }
    .origin-image-link-btn:hover{
        background-color: var(--theme);
        border: 2px solid var(--dim);
        color: var(--dim);
        transition: 0.2s;
    }
    .origin-image-link-btn i{
        margin: 0px 8px;
    }
    
    


}

























/********** MOBILE SCREEN **********/
@media screen and (max-width:992px){
    header {
        text-align: center;
        background-color: var(--bg);
        color: var(--text);
        font-family: Font0;
        padding: 20px;
    }
    #page-title{
        font-size: 25px;
    }
    .content-container-section {
        background-color: var(--bg);
        padding-bottom: 20px;
    }
    
    .content-container {
        width: 88%;
        margin: 0 auto;
    }
    
    .content {
        /* border: 1px solid var(--theme);
        border-radius: 20px;
        background-color: #222222; */
        padding: 10px;
        margin-bottom: 20px;
    }
    
    .content-image {
        width: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 10px;
    
    }
    
    
    .content-caption {
        margin-top: 10px;
        padding: 0px;
        font-size: 22px;
        margin-left: 10px;
        font-family: Font0;
        color: var(--text);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-in-out;
    }
    
    
    .content-caption.show {
        max-height: 500px;
    }
    
    .content-details {
        font-size: 20px;
        font-family: Font0;
        margin-left: 20px;
        color: var(--text);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-in-out;
    }
    
    .content-details.show {
        max-height: 500px;
    }





    /* For Video */
    .content-video{
        padding-bottom: 25px;
    }
    .content-title{
        text-align: center;
        color: var(--text);
        font-size: 25px;
        font-family: Font0;
        margin: 10px;
    }
    .content-link{
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        font-family: Font0;
        color: var(--theme);
        border: 2px solid var(--theme);
        padding: 8px 18px;
        width: 28%;
        margin: 0 auto;
        display: block;
    }

    
}
@media only screen and (max-width: 320px) {
    .content-link{
        width: 35%;
        font-size: 18px;
    }
    .content-title{
        font-size: 20px;

    }
}