/********** PC SCREEN **********/
@media screen and (min-width:992px) {
   
    .content-container-section{
        background-color: var(--bg);
        
    }

    #page-title{
        text-align: center;
        font-size: 23px;
        font-family: Font0;
        color: white;
        padding-top: 10px;
        transition: 0.2s;

    }
    #page-title:hover{
        color: var(--theme);
        transition: 0.2s;
    }

    .container{
        width: 98% !important;
    }
    .file{
        text-align: center;
        margin: 20px 0px;
        padding: 10px 10px;

        /* background-color: #202020; */
        /* border-radius: 10px; */
        /* border: 2px solid var(--theme); */
    }
    #image{
        width: 95%;
        border-radius: 10px;
        border: 1px solid var(--dim);
        transition: 0.1s;
    }
    #image:hover{
        border: 1px solid var(--theme);
        transition: 0.1s;
    }
    #caption{
        display: none;
        color: white;
    }


    .image-details{
        font-size: 22px;
        font-weight: 700;
        font-family: Font0;
        text-align: left;
        margin-left: 20px;
    }
    .details-caption{
        color: azure;    
        text-align: left;
        margin-left: 20px;
    }
    .details-text{
        font-size: 20px;
        font-family: Font0;    
        text-align: left;
        margin-left: 20px;
    }
    .origin-image-link-btn{
        text-decoration: none;
        font-size: 16px;
        color: var(--theme);
        font-family: Font0;
        font-weight: 700;
        border: 2px solid var(--theme);
        /* border-radius: 100px; */
        padding: 8px 18px;
        transition: 0.2s;

    }
    .origin-image-link-btn:hover{
        background-color: var(--theme);
        border: 2px solid var(--dim);
        color: var(--dim);
        transition: 0.2s;
    }
    .origin-image-link-btn i{
        margin: 0px 8px;
    }
    
    


}

























/********** MOBILE SCREEN **********/
@media screen and (max-width:992px){
    .content-container-section{
        background-color: var(--bg);
        
    }

    #page-title{
        text-align: center;
        font-size: 23px;
        font-family: Font0;
        color: white;
        padding-top: 10px;
        transition: 0.2s;

    }
    #page-title:hover{
        color: var(--theme);
        transition: 0.2s;
    }

    .container{
        width: 98% !important;
    }
    .file{
        text-align: center;
        margin: 20px 0px;
        padding: 10px 10px;

        /* background-color: #202020; */
        /* border-radius: 10px; */
        /* border: 2px solid var(--theme); */
    }
    #image{
        width: 95%;
        border-radius: 10px;
        border: 1px solid var(--dim);
        transition: 0.1s;
    }
    #image:hover{
        border: 1px solid var(--theme);
        transition: 0.1s;
    }
    #caption{
        display: none;
        color: white;
    }


    .image-details{
        font-size: 22px;
        font-weight: 700;
        font-family: Font0;
        text-align: left;
        margin-left: 20px;
    }
    .details-caption{
        color: azure;    
        text-align: left;
        margin-left: 20px;
    }
    .details-text{
        font-size: 20px;
        font-family: Font0;    
        text-align: left;
        margin-left: 20px;
    }
    .origin-image-link-btn{
        text-decoration: none;
        font-size: 16px;
        color: var(--theme);
        font-family: Font0;
        font-weight: 700;
        border: 2px solid var(--theme);
        /* border-radius: 100px; */
        padding: 8px 18px;
        transition: 0.2s;

    }
    .origin-image-link-btn:hover{
        background-color: var(--theme);
        border: 2px solid var(--dim);
        color: var(--dim);
        transition: 0.2s;
    }
    .origin-image-link-btn i{
        margin: 0px 8px;
    }
    
    


    
}
@media only screen and (max-width: 320px) {
    .content-link{
        width: 35%;
        font-size: 18px;
    }
    .content-title{
        font-size: 20px;

    }
}