@media screen and (min-width : 992px){
    /*******PC SCREEN CSS*******/
    .intro{
        /* background-image: url('../res/intro-main.jpg');
        background-size: 100%;
        background-repeat: no-repeat; */
        height: 163vh;
        background-color: var(--bg);
    }
    .main-cover{
        width: 100%;
    }
    .option-section{
        background-color: var(--bg);
        
    }

    .option-r1-wrapper{
        /* position: absolute;
        bottom: 15px; */
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;        
    }

    .option{
        border: 3px solid var(--theme);
        margin: 0px 10px;
        padding: 10px;
        height: 30vh;
    }
    .option-logo{
        width: 30%;
        display: block;
        margin: 10px auto;
    }
    .option-name{
        text-align: center;
        color: var(--text);
        margin-top: 18px;
        font-family: Font2;
    }
    .option-desc{
        text-align: center;
        color: var(--dim);
        font-size: 18px;
    }
    .option-link{
        text-decoration: none;
    }

}


