@media screen and (max-width: 992px){
    .mobile-cover{
        display: block;
        width: 100%;
    }
    .desktop-cover{
        display: none;
    }
    .cover-title{
        width: 80%;
        font-family: Font0;
        font-size: 28px;
        color: var(--text);
        position: absolute;  
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .intro-link{
        color: var(--text);
        position: absolute;  
        top: 90%;
        left: 48%;
        transform: translate(-50%, -50%);
    }
    .category-cover-image{
        width: 100%;
    }
    


    /******* CAROUSEL START *******/
    #carousel-image-pc{
        display: none;
    }
    #carousel-image-mobile{
        margin: 0 auto;
        width: 100%;
    }
    .carousel-slide > .carousel-control-prev{
        padding: 0px;
    }
    .carousel-slide > .carousel-control-next{
        padding: 0px;
    }
    .component-title{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        color: white;
        transition: 0.3s;
        cursor: default;
        margin: 0px 0px;
    }
    .component-title:hover{
        transition: 0.3s;
        color:#338DFF;
    }
    .carousel{
        background-color: #171717;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .text-center{
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
    }
    .container #feedback{
        background: #171717;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .carousel-control-prev{
        padding-right: 30px;
    }
    .carousel-control-next{
        padding-left: 30px;
    }
    .section-title .hr-style{
        border: 3px dotted white;
        border-bottom: none;
        width: 90px;
        margin: 0 auto;
    }
    .feedback-image{
        width: 350px;
        height: auto;
        border-radius: 10px;

    }
    .carousel-item{
        padding: 5% 12%;
        text-align: center;
        font-style: italic;
        font-size: 1.3rem;
        transition: 0.5s;
    }
    .carousel-indicators{
        bottom: -20px;
    }
    #photography-slides{
        background-color: #171717;
    }

    /******* CAROUSEL END *******/











    /***** CATEGORY *****/
    .category{
        padding : 15px 0px;
      background-color: var(--bg);  
    }
    .category-cover{
        margin: 15px 0px;
    }
    .category-cover-link{
        text-decoration: none;
    }
    .category-cover-image{
        border-radius: 8px;
        border: 2px solid var(--dim);
    }
    .category-cover-text{
        text-align: center;
        font-family: Font0;
        color: var(--dim-text);
        font-size: 25px;
        margin-top: 10px;
    }



    /***** CARD *****/
    .card-section{
        background-color: var(--bg);
        padding: 20px 0px;
    }
    .card-container{
        width: 92%;
        margin:  0 auto;
        background-color: var(--bg);
    }
    .card-x{
        border-radius: 8px;
        border: 2px solid var(--dim);
        margin:  0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-img{
        width: 33%;
        border-radius: 8px;
        margin: 5px;
    }
    .card-text{
        padding: 10px;
        width: 100%;
    }
    .card-name{
        font-family: Font0;
        font-size: 20px;
        color: var(--theme);
        padding-left: 15px;
        border-left: 3px solid var(--theme);
    }
    .card-desc{
        font-family: Font0;
        color: var(--dim-text);
    }
    .card-link{
        text-decoration: none;
    }

    /***** FOOTER *****/
    .footer{
        padding : 15px 0px;
        background-color: var(--bg-dlight);
    }
    .footer-container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
    }
    .footer-btn{
        border: 1px solid var(--theme);
        padding:  6px 10px;
        width: 100%;
        margin-bottom: 10px;
        background-color: transparent;
        color: var(--dim-text);
    }
    .copyright-text

    .copyright{
        display: none;
        color: var(--text);
        font-family: Font0;
        word-wrap: break-word;
    }
    .m-p{
        text-align: right;
        color: var(--theme);
        font-family: Font0;
    }

}