@media screen and (min-width : 992px){
    /********** PC SCREEN CSS **********/
    .body{
        background-color: var(--bg);
    }
   
    /******* INTRO *******/
    .intro{

    }
    .mobile-cover{
        display: none;
    }

    .desktop-cover{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../res/intro-cover/desktop/2.jpeg');
        animation: fade 120s forwards infinite;
        transition: background 1s ease-in-out; 
    }
    /* @keyframes fade{
        0%{
            background-image: url('../res/intro-cover/desktop/1.jpeg');
            
        }
        16.66%{
            background-image: url('../res/intro-cover/desktop/2.jpeg');
        }
        33.33%{
            background-image: url('../res/intro-cover/desktop/3.jpeg');
        }
        50%{
            background-image: url('../res/intro-cover/desktop/4.jpeg');
        }
        66.66%{
            background-image: url('../res/intro-cover/desktop/5.jpeg');
        }
        83.33%{
            background-image: url('../res/intro-cover/desktop/6.jpeg');
        }
        100%{
            background-image: url('../res/intro-cover/desktop/7.jpeg');
        }
    } */


    .cover-title{
        font-size: 40px;
        font-family: Font0;
        display: block;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: colorC 120s infinite forwards;
     }
     /*
    @keyfrakmes colorC{
        0%{
            color: var(--text);
        }-/
        16.66%{
            color: var(--bg);
        }
        33.33%{
            color: var(--bg);
        }
        50%{
            color: var(--bg);
        }
        66.66%{
            color: var(--bg);
        }
        83.33%{
            color: var(--bg);
        }
        100%{
            color: var(--bg);
        }

    } */

    .intro-link i{
        color: var(--bg);
        display: block;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /******* CAROUSEL *******/
    .carousel-section{
        /* display: none; */
        padding: 20px 10px;
        background-color: var(--bg);
        padding-top: 40px;
    }
    
    .carousel {
        background-color: var(--bg);
        display: flex;
        align-items: center;
    }
    
    .carousel-images {
      display: flex;
      overflow: hidden;
      border-radius: 10%;
    }
    
    .carousel-images img {
      width:20%;
      /* border: 2px solid var(--dim); */
      margin: 30px;
      border-radius: 8px;
      transition: transform 0.5s ease-in-out;
    }
    .carousel-images img:hover{
        border: 2px solid var(--theme);
        transition: 0.5s;
    }
    
    
    .carousel-btn{
        margin: 0px 10px;
        padding: 10px;
        background-color: transparent;
        border: none;
    }
    .fa-2x{
        color: var(--text) !important;
    }


    /******* CATEGORY *******/
    .category{
        padding : 15px 0px;
        background-color: var(--bg);
    }
    .category-cover-link{
        text-decoration: none;
        
    }

    .category-cover-image{
        border: 2px solid var(--dim);
        transition: 0.2s;
        width: 78%;
        border-radius: 10px;
        display: block;
        margin: 10px auto;
        opacity: 70%;
        filter: blur(0.5px);
    }
    .category-cover-image:hover{
        transition: 0.2s;
        opacity: 100%;
        filter: blur(0px);
    }
    .row{
        margin: 30px 0px;
    }
    .category-cover-text{
        transition: 0.2s;
        display: block;
        width: 50%;
        margin:  0 auto;
        color: var(--dim-text);
        font-family: Font0;
        text-align: center;
    }
    .category-cover-text:hover{
        transition: 0.2s;
        color: var(--theme);
        border-left: 3px solid var(--theme);
        padding-left: 20px;
    }
    



    /******* CARD *******/
    .card-section{
        background-color: var(--bg);
    }
    .card-container{
        padding: 20px;
        width: 40%;
        margin: 0 auto;
    }
    .card-x{
        border: 2px solid var(--theme);
        padding: 10px;
        border-radius: 20px;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
    .card-img{
        width: 30%;
        border-radius: 13px;
    }
    .card-text{
        width: 60%;
    }
    .card-name{
        border-left: 3px solid var(--theme);
        padding-left: 15px;
        color: var(--theme);
        font-size: 25px;
        font-family: Font0;
        margin-bottom: 20px;
    }
    .card-desc{
        color: var(--dim-text);
        font-size: 18px;
        font-family: Font0;

    }
    .card-link{
        text-decoration: none;
        color: var(--theme);
        font-family: Font0;
        font-size: 17px;
    }



    /******* FOOTER *******/
    .footer{
        background-color: var(--bg-dlight);
        padding: 15px 0px;
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;
    }


    .copyright-text{
        text-align: center;
    }
    .copyright{
        font-family: Font0;
        font-size: 20px;
        color: var(--theme);
    }
    .m-p{
        color: var(--dim-text);
        font-family: Font0;
    }
    .footer-btn{
        border: 1px solid var(--theme);
        padding: 8px 18px;
        background-color: transparent;
        color: var(--text);
        transition: 0.1s;
        margin-left: 20px;
    }
    .footer-btn:hover{
        transition: 0.1s;
        border: 2px solid var(--dim);
        background-color: var(--theme);
        color: var(--dim);
        font-weight: 600;
    }

}