@media screen and (max-width: 992px){
    .mobile-cover{
        display: block;
        width: 100%;
    }
    .desktop-cover{
        display: none;
    }
    .cover-title{
        width: 80%;
        font-family: Font0;
        font-size: 28px;
        color: var(--text);
        position: absolute;  
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
    .intro-link{
        color: var(--text);
        position: absolute;  
        top: 90%;
        left: 48%;
        transform: translate(-50%, -50%);
    }
    .category-cover-image{
        width: 100%;
    }
    

    /***** Carousel *****
    .carousel{
        display: block;
        background-color: var(--bg);
    }
    .feedback-image{
        width: 70%;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }
    

 */











/********************************/
.carousel-section{
    background-color: var(--bg);
    padding: 20px 0px;
}

.carousel {
    background-color: var(--bg);
    display: flex;
    align-items: center;
}

.carousel-images {
  display: flex;
  overflow: hidden;
}

.carousel-images img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
}


.carousel-btn{
    margin: 0px 10px;
    padding: 10px;
    background-color: transparent;
    border: none;
}
.fa-2x{
    color: var(--text) !important;
}
/************************************/








    /***** CATEGORY *****/
    .category{
        padding : 15px 0px;
      background-color: var(--bg);  
    }
    .category-cover{
        margin: 15px 0px;
    }
    .category-cover-link{
        text-decoration: none;
    }
    .category-cover-image{
        border-radius: 8px;
        border: 2px solid var(--dim);
    }
    .category-cover-text{
        text-align: center;
        font-family: Font0;
        color: var(--dim-text);
        font-size: 25px;
        margin-top: 10px;
    }



    /***** CARD *****/
    .card-section{
        background-color: var(--bg);
        padding: 20px 0px;
    }
    .card-container{
        width: 92%;
        margin:  0 auto;
        background-color: var(--bg);
    }
    .card-x{
        border-radius: 8px;
        border: 2px solid var(--dim);
        margin:  0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-img{
        width: 33%;
        border-radius: 8px;
        margin: 5px;
    }
    .card-text{
        padding: 10px;
        width: 100%;
    }
    .card-name{
        font-family: Font0;
        font-size: 20px;
        color: var(--theme);
        padding-left: 15px;
        border-left: 3px solid var(--theme);
    }
    .card-desc{
        font-family: Font0;
        color: var(--dim-text);
    }
    .card-link{
        text-decoration: none;
    }

    /***** FOOTER *****/
    .footer{
        padding : 15px 0px;
        background-color: var(--bg-dlight);
    }
    .footer-container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
    }
    .footer-btn{
        border: 1px solid var(--theme);
        padding:  6px 10px;
        width: 100%;
        margin-bottom: 10px;
        background-color: transparent;
        color: var(--dim-text);
    }
    .copyright-text

    .copyright{
        display: none;
        color: var(--text);
        font-family: Font0;
        word-wrap: break-word;
    }
    .m-p{
        text-align: right;
        color: var(--theme);
        font-family: Font0;
    }

}