@media screen and (max-width:992px) {
    
    .main-cover{
        width: 100%;
    }
    .pc-cover{
        display: none;
    }
    .mobile-cover{
        display: block;
    }
    .intro-text{
        position: absolute;
        top: 57%;
        left: 18%;
        color: #656565;
        font-size: 20px;
        font-family: Font1;
    }
    .option-section{
        background-color: #000000;
        width: 90%;
        margin:  0 auto;
    }
    .body{
        background-color: #000000;
    }

    .option{
        background-color: var(--bg);
        border-radius: 3px;
        border-left: 3px solid var(--theme);
        padding: 10px;
        justify-content: space-between;
        margin: 20px 0px;
        transition: 0.2s;
    }
    .option:hover{
        border: none;
        transition: 0.2s;
        /* border: 3px solid var(--theme); */
        box-shadow: 0px 0px 10px 5px var(--theme);
    }
    .option-logo-svg{
        fill: var(--theme);
        width: 15%;
        display: block;
        margin: 0 20px;
    }
    .option-text{
        padding-top: 15px;
    }
    .option-name{
        font-family: Font1;
        font-size: 22px;
        text-align: right;
    }
    .option-desc{
        color: var(--dim);
        text-align: right;

    }
    .option-link{
        text-decoration: none;
        display: flex;
        justify-content: space-between;

    }
    .c1-logo{
        width: 25%;
        margin-left: 13px;
    }
    .c2-logo{
        width: 12%;
    }
    .forward-text{
        padding: 10px;
        display: flex;
        color: var(--dim);
    }
    .forward-text i{
        color: var(--theme);
        padding: 0px 10px;
        margin: 0;
    }
    .f-text{
        font-size: 18px;
        font-family: Font1;
    }
    .f-text-b{
        color: var(--theme);
    }
    .esoft{
        display: none;
    }
    .c2{
        display: none;
    }
    .accessories, .tutorial, .suggestion, .customize{
        display: none;
    }
}