*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Light.ttf);
  }
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
  }

body{
   scroll-behavior: smooth;
}

/*ScrollBar*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #171717;
}

::-webkit-scrollbar-thumb {
  background-color: #1176ff;
  border-radius: 10px;
  border: 2px solid #334e75;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #313131;
}




/*Title and HR*/
.section-title{
  text-align: center;
  color: #1176ff;
  font-size: 35px;
  font-family: Roboto;
  padding: 30px;
  transition: 0.2s;
  /* margin: 0 auto;
  display: block;
  width: 18%; */
}
/* .section-title:hover{
  transition: 0.2s;
  color: #777777;
}
.section-title:hover .dotted-hr{
  width: 130px;
  transition: 0.2s;
  border-color: #777777;
} */
.dotted-hr{
  transition: 0.2s;
  border: 6px dotted #1176ff;
  background-color: transparent;
  border-bottom: none;
  margin: 0px auto;
  width: 70px;
  opacity: 100;
}




/*
COLOR 

Black :     #171717
Orange :    #f65050
Blue :      #1176ff
Dim-Active: #373737
*/

