*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {

    /* Color */
    --bg    : #171717;
    --text  : #ffffff;
    --dim   : #333333;
    --dim-text:#aaaaaa;
    --theme : #1176ff;

    /* Text */
    --text-h  : 25px; /*Heading*/
    --text-p  : 20px; /*Paragraph*/

}

/**** Font ****/
@font-face {
    font-family: Font0;
    src: url('../fonts/Roboto-Light.ttf');
}


.component-title{
    font-family: Font0;
    font-weight: 700;
    color: var(--theme);
    text-align: center;
}
.dotted-hr{
    border: 6px dotted white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}



/******* ScrollBar *******/
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: #5f5f5f;
}
::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border-radius: 10px;
    border: 2px solid #000000;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #313131;
}



/******* Back Button *******/
.back-button{
    padding: 10px 10px;
    margin-top: 20px;
    border-bottom: 2px solid var(--theme);
    border-radius: 0px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.2s;
    background-color: var(--bg);
}
.back-button a{
    padding: 10px;
    text-decoration: none;
    color: var(--text);
    font-family: Font1;
    font-weight: 600;
    background-color: transparent;
}
.back-button a i{
    background-color: transparent;
}
.back-button:hover{
    transition: 0.2s;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid var(--theme);
    background-color: #313131;
}
.back-button a:hover{
    color: var(--theme);
}