*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* Fonts *******/
@font-face {
    font-family: Font1;
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: Font2;
    src: url('../fonts/Inter-Light.ttf');
}

/******* Colors *******/
/* 76b900*/
:root {
    --theme: #76b900;
    --bg   : #171717;
    --text : #ffffff;
    --dim  : #aaaaaa;
}

/******* ScrollBar *******/

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: #5f5f5f;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border-radius: 10px;
    border: 2px solid #000000;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #313131;
}


/******* Back Button *******/
.back-button{
    margin-top: 20px;
    border: 2px solid var(--theme);
    position: absolute;
    top: 20px;
    left: 20px;
    transition: 0.2s;
    padding: 10px 20px;
    background-color: #313131;
}
.back-button a{
    text-decoration: none;
    color: var(--text);
    font-family: Font1;
    font-weight: 600;
    background-color: transparent;
}
.back-button a i{
    background-color: transparent;
}
.back-button:hover{
    transition: 0.2s;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid var(--theme);
    background-color: #313131;
}
.back-button a:hover{
    color: var(--theme);
}



.header-text{
    color: var(--text);
    font-family: Font1;
    display: block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    transition: 0.2s;
}
.dotted-hr{
    border: 6px dotted white;
    border-bottom: none;
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
}





