/*
Md. Muhibbur Rahman  
CSS 3.0
Framework Ver: 1.0.0
Last Updated : 4.11.2023 | 11:00 PM
Designed by Muhib
*/


/********** ROOT **********/
:root{
    --bg : #242424;
    --bg-x : #171717;

    --theme : #1176ff;
    --theme-d : #3a3a3a;

    --text-t : var(--theme);
    --text-b : #b0b0b0;
    --text-l : #ededed;

    --inverse : ;
    --dim : ;

    --border: ;
    --radiusA : ;

    --box-shadow : 0px 0px 1000px 1px var(--bg);
}

[data-theme="dark"] {
    --bg : ;
    --bg-x : ;

    --theme : ;
    --theme-d : ;

    --text-t : ;
    --text-b : ;
    --text-l : ;

    --inverse : ;
    --dim : ;

}


/********** FONT **********/
@font-face {
    font-family: fontM;
    src: url(../font/inter-medium.ttf);
}
@font-face {
    font-family: fontSB;
    src: url(../font/inter-semibold.ttf);
}
@font-face {
    font-family: fontB;
    src: url(FontName.ttf);
}
@font-face {
    font-family: fontL;
    src: url(../font/robotomono-light.ttf);
}




/********** GENERAL **********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: fontM;
}

a{
    text-decoration: none;
    color: var(--text-b);
    transition: 0.1s;
}
a:hover{
    text-decoration: none;
    color: var(--text-t);
    transition: 0.1s;
}

img{
    width: 100%;
    border-radius: var(--radiusA);
}
input{
    outline: none;
    border: var(--border);
    border-radius: var(--radiusA);
    background-color: transparent;
}
textarea{
    outline: none;
    border: none;
    border-radius: var(--radiusA);
    background-color: transparent;
    resize: none;
}





/********** CLASS **********/
section{
    /* background-color: var(--bg-x); */
    border: none;
    padding: 20px;
    margin: 0 auto;
    border-radius: var(--radiusA);
    overflow: hidden;
    transition: 0.2s;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 80%;
    margin: 0 auto;
    border-radius: var(--radiusA);
    background-color: var(--bg-x);
    padding: 20px;
}


.dotted-hr{
    border: 6px dotted white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}



/********** BUTTON **********/
.btn{
    background-color: var(--theme);
    color: var(--text-w);
    padding: 8px 25px;
    border-radius: 50px;
    font-size: 16px;
    font-family: fontSB;
    transition: 0.1s;
}
.btn:hover{
    background-color: var(--theme-d);
    color: var(--text-b);
    transition: 0.1s;
}

.btnX{
    border: 2px solid var(--theme);
    border-radius: 50px;
    color: var(--theme);
    font: 16px fontSB;
    padding: 8px 25px;
    transition: 0.1s;
    background-color: transparent;
}
.btnX:hover{
    background-color: var(--theme);
    color: var(--text-w);
    border: 2px solid var(--theme);
    transition: 0.1s;
}
button[type="reset"]{
    cursor: pointer;
  }
button[type="submit"]{
    cursor: pointer;
}


/********** TEXT **********/
.text-h{
    font-size: 20px;
    color: var(--text-t);
    font-family: fontSB;
}
.text-p{
    font-size: 16px;
    color: var(--text-l);
    font-family: fontM;
}
.tc{
    text-align: center;
}
.text-hl{
    font-size: 18px;
    color: var(--text-t);
    font-family: fontB;
}
.disable-select {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }
  
/* Remove blue background on Chrome autofill */
input:-webkit-autofill {
    -webkit-box-shadow: none !important; /* Remove any background color */
    -webkit-text-fill-color: var(--text-t) !important; /* Set the text color you want */
}
/* Remove blue background on Edge autofill */
input:-ms-input-placeholder {
    background-color: transparent !important; /* Remove any background color */
    color: var(--text-t) !important; /* Set the text color you want */
}



.scrollable{
    overflow-y:scroll;
    max-height: 100vh;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
.scrollable::-webkit-scrollbar {
    display: none; 
}

/********** SCROLLBAR **********/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--bg-x);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--theme);
    border-radius: 10px;
    border: 2px solid var(--bg);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-d);
  }





/********** DEBUG **********/
.debug-A{
    background-color: red;
    color: blue;
}
.debug-B{
    background-color: yellow;
    color: teal;
}
.debug-X{
    /* background-color: var(--bg); */
    background-color: transparent;
    color: var(--theme);
    height: 30vh;
}
.debug-Y{
    background-color: gray;
    color: yellow;
}
