.body{
    background-color: #171717;
    color: white;
}
.header{}

.back-button{
    margin-top: 20px;
    border: 1px solid white;
    position: absolute;
    top: 20px;
    left: 20px;
}
.header-text{
    color: white;
    
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    transition: 0.2s;
}
.header-text:hover{
    color: #76b900;
    transition: 0.2s;
}
.dotted-hr{
    background-color: black;
    border: 6px dotted white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}





.app-icon{
    display: inline;
    width: 50%
    
}

.app-name{
    display: inline;
    
    font-size: 25px;
    margin-left : 18px;
    margin-right: 18px;
}
.app-name:hover{
    color: #76b900;
}

.app-info{
    display: inline;
    font-size: 15px;
    margin-left : 18px;
    margin-right: 18px;

}
.app-info:hover{
    color: #76b900;
}

.app-download{
    padding: 17px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #171717;
    border: 2px solid #548500;
    text-decoration: none;
    transition: 0.2s;
    text-align: right;
   
}
.app-download:hover{
    text-decoration: none;
    transition: 0.2s;
    border: 1px solid #76b900;
    color: #76b900;
}
.app-link{
    color: white;
    text-decoration: none;
}
.app-link:hover{}




/**/

.content{
    border: 2px solid #76b900;
    background-color: #0e0e0e;
    width: 100%;
    height:100%;
    margin-bottom: 25px;
}
.content:hover{
    background-color: #171717;
}
.content-title{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #76b900;
}

.app-icon{
    
    width: 150px;
    margin: 50px;
    
}

.app-name{
    
    text-align: center;
    font-size: 25px;
    /*
    margin-left : 18px;
    margin-right: 18px;
    */
}
.app-name:hover{
    color: #76b900;
}

.app-info{
    text-align: center;
    font-size: 15px;
    margin-left : 18px;
    margin-right: 18px;

}
.app-info:hover{
    color: #76b900;
}

.app-download{
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #171717;
    border: 2px solid #548500;
    text-decoration: none;
    transition: 0.2s;
    margin: 0px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.app-download-center{
    text-align: center;
}
.app-download:hover{
    text-decoration: none;
    transition: 0.2s;
    border: 1px solid #76b900;
    color: #76b900;
}
.app-link{
    color: white;
    text-decoration: none;
}
.app-link:hover{}


.center-div{
    text-align: center;
}


.col-3{
    padding: 12px;
}