/**/
.category{
    background-color: #171717; 
    padding-bottom: 20px; 
}
.category-cover{
    text-align: center;
}
.category-cover-image{
    text-align: center;
    opacity: 40%;
    transition: 0.2s;
    width: 90%;
    border-radius: 8px;
    border: 1px solid white;
    margin-bottom: 25px;
}
.category-cover-image:hover{
    opacity: 80%;
    transition: 0.2s;
    box-shadow: 0px 0px 15px 2px #338DFF;
    -webkit-box-shadow: 0px 0px 15px 2px #338DFF;
    -moz-box-shadow: 0px 0px 15px 2px #338DFF;
    
}

/* absolute : 2170/100*/
.category-cover-text{
    
    font-size: 2.0rem;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    font-weight: ;
    color: white;
    opacity: 100%;
    transition: 0.2s;
}
.category-cover-text:hover{
    text-decoration: none;
    color: white;
    font-size: 2.0rem;
    font-weight: ;
    text-shadow: 0px 0px 10px #000000; 
    transition: 0.3s;
    
}
/*text*/

#citytext{
    position: absolute;
    top: 2170px;
    left: 100px;
}
#naturetext{
    position: absolute;
    top: 2522px;
    left: 100px;
    
}
#aesthetictext{
    position: absolute;
    top: 2874px;
    left: 100px;
}
#flowertext{
    position: absolute;
    top: 3226px;
    left: 100px;
}
#gametext{
    font-size: 25px;
}
#videotext{
    font-size: 25px;
}
.category-image-center-div{
    text-align: center;
}





/*category link*//*start*/
.category-interior-link{
    text-decoration: none;
    
}
.category-interior-link:hover{
    text-decoration: none;
}
/*///*/