*{
    background-color: #171717;
}
body{
    background-color: #171717;
}
header{
    background-color: #171717;
}
.dotted-hr{
    border: 6px dotted white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}
#page-title{
    text-align: center;
    font-size: 2.0rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 10px;
}
#page-ttle:hover{
    color: red;
}
.page-num{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-right: 10px;
}
#image{
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    margin-right: 5px;
    margin-top: 18px;
    transition: 0.3s;
}
#image:hover{
    border: 1px solid white;
    transition: 0.3s;
}
#caption{
    display: none;
    color: white;
}
.page {
    margin-top:20px;
}

.page-control{
    position: absolute;
    top: 20px;
    left: 20px;
}
.image-details{
    font-size: 1.4rem;
    font-weight: bolder;
    font-family: Montserrat,sans-serif;
}
.details-caption{
    color: azure;
}
.details-text{
    font-size: 1.2rem;
    font-family: Raleway, sans-serif;
}



