
/*...................................................................................*/
*{
    display: none;
}
.cover-site img {
    max-width: 100%;
    opacity: 90%;
}
.desktop-cover{
    display: block;
    opacity: 30%;
    transition: 0.2s;
}
.desktop-cover:hover{
    opacity: 100%;
    transition: 0.2s;

}
.mobile-cover{
    display: none;
}
#mobile-carousel{
    display: none;
}
#pc-carousel{
    display: block;
}
.cover-carousel{
    display: none;
}
.cover-text{
    display: none;
}
.cover-site h4{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.918);
}
.cover-site i{
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    opacity: 95%;
    
}



.category{
    text-align: center;

}

#mobile-category{
    display: ;
}
#pc-category{
    display: block;
    background-color: #171717;
}
.thumbnail{
    width: 300px;
}
.thumb-p{
    font-size: 1.4rem;
}

#photography-slides{
    background-color: #171717;
}
.copyright{
    font-size: 1.2rem;
}
.footer-menu .btn{
    margin-bottom: 0px;
}


.card{
    font-size: 1.3rem;
    padding-bottom: 10px;
}
.card-container{
    margin: 0 auto ;
}
.text{
    text-align: left;
}
.img{
    text-align : right;
}


.feedback-image{
    width: 700px;
}

