.body{
    background-color: #171717;
}
.header-text{
    color: #76b900;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.hr-full{
    color: rgb(107, 188, 107);
    
}
.intro-text{
    color: white;
    font-family: ;
    font-size: 25px;
}

.col-3{
   padding: 12px;
}
.content{
    border: 2.5px solid #76b900;
    background-color: ;
    width: 90%;
    margin: 0px 20px;
    padding-top: 30px;
}

.content-icon{
    width: 30%;
    border:;
    margin: 10px 20px;
    text-align: center;
}
.content-image-div{
    text-align: center;
}
.content-title{
    text-align: center;
    color: white;
    font-size: 25px;
    transition: 0.2s;
}
.content-title:hover{
    color: #76b900;
    transition: 0.2s; 
}
.content-page-link{
    text-decoration: none;
}
.content-desc{
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
}
.content-desc:hover{
    color: #76b900;
    transition: 0.2s;
}