/*Mobile Style*/
*{
    max-width: auto;
}

#pc-carousel{
    display:none;
}
.desktop-cover{
    display: none;
}


.mobile-cover{
    opacity: 80%;
    transition: 0.2s;
}
.mobile-cover:hover{
    opacity: 90%;
    transition: 0.2s;
}

.desktop-cover{
    display: none;
}
#pc-category{
    display: none;
}

.dotted-hr{
    background-color: #171717;
    border: 6px dotted white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}

.cover-site img{
    max-width:100%;
    position: relative;
    opacity: 85%;
} 

/*Intro Start*/
.cover-title{
    position: absolute;  
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 1.85rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    color: black;
    opacity: 100%;
    transition: 0.2s;
}
.cover-title:hover{
    color: #171717;
    font-size: 2.0rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #171717; 
    transition: 0.3s;
}


.cover-site i{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    opacity: 95%;
}

/***SLIDE***/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
/*my edits*/


.slide-mobile{
    background-color: #171717;
    opacity: 90%;
    transition: 0.2s;
}
.slide-mobile:hover{
    opacity: 100%;
    transition: 0.2s;
}

.mySlides{
    border: 1px solid black;
    border-radius: 10px;
}



/*fonts used
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto' , sans-serif;
*/



/*...........................COMPONENTS.............................*/

/*Intro*/





/*Carousel*//*Start*/
#carousel-image-pc{
    display: none;
}
#carousel-image-mobile{
    display: ;
    margin: 0 auto;
    width: 100%;
}
.carousel-slide > .carousel-control-prev{
    padding: 0px;
}
.carousel-slide > .carousel-control-next{
    padding: 0px;
}
.component-title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    transition: 0.3s;
    cursor: default;
    margin: 0px 0px;
}
.component-title:hover{
    transition: 0.3s;
    color:#338DFF;
}
.carousel{
    background-color: #171717;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-center{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.container #feedback{
    background: #171717;
    padding-top: 40px;
    padding-bottom: 30px;
}
.carousel-control-prev{
    padding-right: 30px;
}
.carousel-control-next{
    padding-left: 30px;
}
.section-title .hr-style{
    border: 3px dotted white;
    border-bottom: none;
    width: 90px;
    margin: 0 auto;
}
.feedback-image{
    width: 350px;
    height: auto;
    border-radius: 10px;

}
.carousel-item{
    padding: 5% 12%;
    text-align: center;
    font-style: italic;
    font-size: 1.3rem;
    transition: 0.5s;
}
.carousel-indicators{
    bottom: -20px;
}
#photography-slides{
    background-color: #171717;
}

/*Carousel*//*END*/

/*Footer START*/
footer{
    background-color: #070707;
    padding: 10px;
}
.copyright{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.9rem;
}
.footer-menu .btn{
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
    font-family: Montserrat, sans-serif;
}
.copyright{
    text-align: center;
    padding-top: 5px;
}
.m-p{
    color: #525252;
    font-weight: bolder;
    transition: 0.3s;
    cursor: default;
}
.m-p:hover{
    color: #338DFF;
    transition: 0.3s;
    text-shadow: 0px 0px 10px #338DFF; 
}
/*Footer END*/

/*Sitemap START*/
.dev{
    position: absolute;
    right: 8px;
    bottom: 8px;
}
#dev a{
    text-decoration : none;
}
/*Sitemap END*/








/*Card*/


.card{
    background-color: #171717;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.card-container-fluid{
    border: 1px solid rgb(59, 59, 59);
    background-color: #0f0f0f;
    border-radius: 10px;
    transition: 0.3s;
}
.card-container-fluid:hover{
    /* -webkit-box-shadow: 5px 5px 50px 10px #338DFF;
    box-shadow: 0px 0px 10px 10px #338DFF; */
    box-shadow: 0px 0px 20px 2px #338DFF;
    -webkit-box-shadow: 0px 0px 20px 2px #338DFF;
    -moz-box-shadow: 0px 0px 20px 2px #338DFF;
    transition: 0.3s;
}

.cardimg{
    padding: 0;
    margin: 0;
}
#card-img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 0px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.card-my-picture{
    transition: 0.3s;
}
.card-my-picture:hover{
    box-shadow: 0px 0px 10px 2px #ffffff;
    -webkit-box-shadow: 0px 0px 10px 2px #ffffff;
    -moz-box-shadow: 0px 0px 10px 2px #ffffff;
    transition: 0.3s;
}
.card-text{
    transition: 0.3s;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    margin-top: 10px;
    margin-left: 10px;
    text-align:center;
}
.card-text:hover{
    transition: 0.3s;
    color: #338DFF;
    text-shadow: 0px 0px 10px #338DFF; 
}
.card-details{
    color: #888888;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    transition: 0.2s;
}
.card-details:hover{
    color: white;
    text-shadow: 0px 0px 10px #338DFF; 
    transition: 0.2s;
    opacity: 100%;
}
.text h3 ul{
    margin-bottom: 0px;
    padding-left: 20px;
}
.card-about-me{
    color: rgb(59, 84, 221);
}
.card-about-me a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}




/**************CATEGORY**************/

.category{
    background-color: #171717; 
    padding-bottom: 10px; 
    padding-right: 0px;
    margin-right: 0px;
}
.category-cover{
    text-align: center;
    
}
.category-cover-image{
    text-align: center;
    opacity: 40%;
    transition: 0.2s;
    width: 95%;
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 10px;
    
}
.category-cover-image:hover{
    opacity: 80%;
    transition: 0.2s;
    box-shadow: 0px 0px 15px 2px #338DFF;
    -webkit-box-shadow: 0px 0px 15px 2px #338DFF;
    -moz-box-shadow: 0px 0px 15px 2px #338DFF;
    
}

/* absolute : 2170/100*/
.category-cover-text{
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: whitesmoke;
    opacity: 80%;
    transition: 0.2s;
}
.category-cover-text:hover{
    text-decoration: none;
    color: white;
    font-size: 2.0rem;
    text-shadow: 0px 0px 10px #000000; 
    transition: 0.3s;
    
}
/*text*/
/*
position:relaative;
top: -200px;
left: 3,8,10,20;
*/
#citytext{
    position: relative;
    top: -50%;
    left: -3%;
    color: rgb(167, 112, 61);
}
#naturetext{
    position: relative;
    top: -50%;
    left: -10%;
    color: rgb(67, 165, 67);
}
#aesthetictext{
    position: relative;
    top: -50%;;
    left: -8%;
    color: #525252;
}
#flowertext{
    position: relative;
    top: -50%;;
    left: -20%;
    color: rgb(175, 173, 69);
}
#gametext{
    position: relative;
    top: -50%;;
    left: -15%;
    color: rgb(94, 111, 207);
}
#videotext{
    position: relative;
    top: -23%;;
    left: -0%;
}
.category-image-center-div{
    text-align: center;
}


/*category link*//*start*/
.category-interior-link{
    text-decoration: none;
    
}
.category-interior-link:hover{
    text-decoration: none;
}

.category > .category > .row{
    display: ;
    margin-right: 0px;
    padding-right: 0px;
}
/*///*/






.non-desk{
    display: none;
}

.mobile{
    display: block;
}



