@media screen and (min-width : 992px){

    .accessories-main{
        background-color: var(--bg);
        padding-bottom: 20px;
        width: 100% ;
        margin: 0 auto;
        padding-top: 40px;
    }
    .bcard-container{
        width: 80%;
        margin: 40px auto;
        /* border: 2px solid var(--theme); */
        border-radius: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        background-color: var(--bgh);
    }
    .image-wrapper{
        /* padding: 10px; */
        width: 30%;
    }
    .bcard-img{
        width: 70%;
        border-radius: 10px;
    }
    .title-wrapper{
         display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 70%;        
    }
    .bcard-title{
        color: var(--theme);
        font-weight: 700;
        font-family: Font1;
        font-size: 30px;
        margin: 10px 0px;
    }
    .bcard-desc{
        font-size: 20px;
        color: var(--text);
        font-family: Font1;
    }
    
    .bcard-link{
        width: 18%;
        text-align: center;
        font-size: 18px;
        text-decoration: none;
        padding: 8px 18px;
        border: 2px solid var(--theme);
        transition: 0.2s;
        margin-left: auto;
        font-family: Font1;
        color: var(--theme);
    }
    .bcard-link:hover{
        background-color: var(--theme-d);
        color: var(--text);
        transition: 0.2s;
    }
    .link-wrapper{
        width: 100%;
        margin: 20px;
        display: flex;
        align-items: center;

    }



    /* Search Bar */
    .softwares{
        background-color: var(--bg);
        padding-top: 15px;
    }
    
    /* Searchbar Data */
    .search-container {
        display: flex;
        align-items: center;
        background-color: var(--bg);
        padding: 10px;
        border-radius: 50px;
        width: 40%;
        border: 2px solid var(--theme);
        margin: 0 auto;
      }
      
      .search-input {
        flex-grow: 1;
        color: var(--theme);
        border: 2px solid var(--theme);
        border-radius: 10px;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 20px;
        font-family: Font1;
        margin-left: 30px;
      }
      
      .search-btn {
        margin-left: 5px;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        color: white;
        cursor: pointer;
      }
      
      .search-btn:hover {
        background-color: var(--theme);
      }
      
      .close-btn {
        margin-left: 5px;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
      }
      
      .close-btn:hover {
        border: 1px solid var(--theme);
      }
    
}
