*{
    box-sizing: border-box;
}
.divider-hr{
    background-color: rgb(46, 119, 255);
    border: 2px solid rgb(46, 119, 255);
}
/*Header*/
.inst-name{
    font-family: "Raleway",sans-serif;
    text-align: center;
    padding-top: 10px;
}
.logo{
    width: 100px;
}
header h3{
    text-align: center;
    font-family: "roboto",sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    border: 3px solid rgb(46, 119, 255);;
    border-left: none;
    border-right: none;
    padding: 10px 0px 10px 0px;
}

/*fnd-res*/
.search-result{
    width: 25%;
    margin: 0 auto;
}
.search-result h3{
    font-family: "Roboto",sans-serif;
    text-align: center;
}


.form-result{
    border: 2px solid black;
    width: ;
    padding: 10px;
}
.search-result h5{
    font-family: "Roboto",sans-serif;
    color: rgb(250, 59, 59);
    font-weight: bolder;
    font-size: 0.9rem;
}

/*inner form*/
.form-result{
    margin-left: 10px;
}
.form-result label{
    font-family: "Raleway",sans-serif;
    font-weight: bolder;
    margin-left: 10px;
    padding-bottom: 10px;

}
.form-result input{
    border: 1px solid rgb(46, 119, 255);
    transition: 0.2s;
}
.form-result input:hover{
    border: 2px solid rgb(250, 59, 59);
    transition: 0.2s;
}
.button button{
    background-color: none;
    border: 1px solid black;
    
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    transition: 0.2s;
}

.button button:hover{
    background-color: rgb(46, 119, 255);
    transition: 0.2s;
}



/*TABLE*/
.top-results{
    margin-bottom: 30px;
}
.top-results h3{
    text-align: center;
    font-family: "Roboto",sans-serif;
    padding-top: 10px;
}
.top-results table{
    width: 60%;
    margin: 0 auto;
    border: 1px solid rgb(46, 119, 255);
}
.table{
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
}
.table td{
    border: 1px solid rgb(46, 119, 255);
    
}
.table thead th{
    background-color: rgb(46, 119, 255);
    font-weight: bolder;
    border: px solid black;
}



/*Footer*/
footer{
    background-color: black;
    padding: 30px;
}
.copyright{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 1.0rem;
    opacity: 60%;
}