/*Mobile Style*/
*{
    box-sizing: border-box;
    max-width: 100%;
}
.page-control{
    position: absolute;
    top: 20px;
    left: 20px;
    
}
.muhib{
    display:none;
}
.non-desk{
    display: none;
}
.desktop-cover{
    display: none;
}
#pc-category{
    display: none;  
}

.dotted-hr{
    background-color: #171717;
    border: 6px dotted white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}

.cover-site img{
    max-width:100%;
    max-height: 100%;
    position: relative;
    opacity: 85%;
}
.cover-site h4{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 1.85rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}
.cover-site i{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    opacity: 95%;
}


/*font
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/



/*...........................COMPONENTS.............................*/

/*Carousel*//*Start*/
.component-title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    transition: 0.3s;
}
.component-title:hover{
    transition: 0.3s;
    color:#338DFF;
}
.text-center{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.container #feedback{
    background: #171717;
    padding-top: 40px;
    padding-bottom: 30px; 
}
.section-title .hr-style{
    border: 3px dotted white;
    border-bottom: none;
    width: 90px;
    margin: 0 auto;
}
.feedback-image{
    width: 350px;
    height: auto;
    border-radius: 10px;
    
}
.carousel-item{
    padding: 5% 12%;
    text-align: center;
    font-style: italic;
    font-size: 1.3rem;
    transition: 0.5s;
}
.carousel-indicators{
    bottom: -20px;
}
#photography-slides{
    background-color: #171717;
}

/*Carousel*//*END*/

/*Footer START*/
footer{
    background-color: #000000;
    padding: 15px;
    float: center;
}
.copyright{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.9rem;
}
.footer-menu .btn{
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
    
}
.copyright{
    text-align: center;
    padding-top: 5px;
}
#m-p{
    color: #525252;
    font-weight: bolder;
}
/*Footer END*/

/*Sitemap START*/
.dev{
    position: absolute;
    right: 8px;
    bottom: 8px;
}
#dev a{
    text-decoration : none;
}
/*Sitemap END*/

/*Category START*/
.category{
    background-color: #171717;
    padding-left: 10px;
}
/* ".component-title" in carousel section */
.thumbnail{
    width: 250px;
    transition: 0.3s;
    border-radius: 8px;
    
}
.thumbnail:hover{
    border: 1px solid white;
    transition: 0.3s;
}
.button-div{
    text-align: center;
    margin-bottom: 10px;
}
.image-div{
    text-align: center;
}
.thumb-p{
    transition: 0.3s;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
}
.thumb-p:hover{
    transition: 0.3s;
    color: #FF3535;
}
/*Category END*/


/*Card*/
.card{
    background-color: #171717;
    border-radius: 0px;
    padding: 15px;
}
.card-contents{
    border: 1px solid rgb(59, 59, 59);
    margin: 20px 20px ;
    background-color: #0f0f0f;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 50px 10px #338DFF; 
    box-shadow: 0px 0px 10px 10px #338DFF;
}

#card-img{
    width: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-text{
    transition: 0.3s;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    
}
.card-text:hover{
    transition: 0.3s;
    color: #338DFF;
}
#card-details{
    color: #888888;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    
}
.text h3 ul{
    margin-bottom: 0px;
    padding-left: 20px;
}
.card-about-me a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}








