.main{
    background-color: #34e03f2f;
}
.logo{
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
.inst-name{
    text-align: center;
    padding-top: 15px;
    color: ;
    font-family: 'Raleway', sans-serif;
}

.form-title{
    color: rgb(46, 119, 255);
    text-align: center;
    font-family: "Roboto","sans-serif";
    font-weight: bolder;
}
.form{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    
    border: 2px solid black;
    border-radius: 10px;
    
    box-shadow: 0px 0px 6px 8px rgba(0, 0, 0, 0.308);
    -webkit-box-shadow: 0px 0px 6px 8px rgba(0,0,0,0.308);
    -moz-box-shadow: 0px 0px 6px 8px rgba(0,0,0,0.308);
}
.warn{
    color: red;
}



/*Form Survey START*/
form h3{
    color: black;
    font-family: "Roboto",sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 20px;
}
form label{
    font-family: "raleway",sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 5px;
}
form input{
    transition: 0.1s;
    border: 1px solid rgb(46, 119, 255);
    border-radius: 4px;
    margin-left: 30px;
    background-color: #34e03f2f;
}
form textarea{
    margin-left: 30px;
    border: 1px solid rgb(46, 119, 255);
    border-radius: 10px;
    resize: none;
}
form select{
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(46, 119, 255);
    border-radius: 4px;
    font-family: "raleway",sans-serif;
    font-weight: bold;
}
form p{
    color: rgb(46, 119, 255);
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}
form button{
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
}
/*Hover*/
form input:hover{
    border: 2px solid black;
    transition: 0.1s;
}