#body-mobile{
    background-color: #171717;
    color: white;
}
.dotted-hr{
    border: 6px dotted white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}
#video{
    border-radius: 7px;
    border: 1px solid black;
}
.video-iframe-div{
    text-align: center;
}
#video-title{
    margin-left: 12px;
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.video-iframe-div{
    width: 100%;
}
.video-iframe-div iframe{
    width: 100%;
}
#details-button{
    margin-left: 10px;
}
.info {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    margin-left: 14px;
    display: none;
}
.page{
    margin-top: 10px;
}
#download-button{
    float: left;
    margin-left: 10px;
}
#source-button{
    float: left;
    margin-left: 10px;
}
.page-control{
    float: left;
    margin-left: 50px;
}