*{
    background-color: #171717;

    margin: 0px;
    padding: 0px;
}
.header{}

.back-button{
    margin-top: 20px;
    border: 1px solid white;
    position: absolute;
    top: 20px;
    left: 20px;
}
.header-text{
    color: white;
    
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    transition: 0.2s;
}
.header-text:hover{
    color: #76b900;
    transition: 0.2s;
}
.dotted-hr{
    background-color: black;
    border: 6px dotted white;
    border-bottom: none;
    margin: 20px auto;
    margin-bottom: 0px;
    width: 70px;
}




.main{
    padding: 10px;
    padding-top: 20px;
}



/*TEXT SECTION*/
.text{
    
}
.p-intro{
    font-size: 20px;
    color: #76b900;
}
.p-intro-alert{
    
    margin-left: 10px;
}

.h{
    color: #76b900;
    margin-left: 20px;
}
.p-step{
    color: white;
    margin-left: 40px;

}
.p-decide{
    color: ;
    font-weight: bolder;
    margin-left: 30px;
}
.p-intro-general{
    color: white;
    margin-left: 20px;
}


/*IMAGE SECTION*/

.screenshots{
    text-align: right;

}
.ss{
    margin: 10px;
    border: 1px solid white;
}
.ss-img{
    width: 40%;
    transition: 0.1s;
}
.ss-img:hover{
    width: 80%;
    transition: 0.1s;
}




/*Carousel*/
.container #feedback{
    background: #171717;
    padding: 7% 10%;
}
.section-title .hr-style{
    border: 3px dotted white;
    border-bottom: none;
    width: 90px;
    margin: 0 auto;
}
.feedback-image{
    width: 240px;
    height: auto;
}
.carousel-item{
    padding: 5% 12%;
    text-align: center;
    font-style: italic;
    font-size: 1.3rem;
}
.carousel-indicators{
    bottom: -20px;
}