body {
    min-height: 100vh;
    background-color: var(--bg);
  }
  
@media screen and (min-width : 992px){

    .softwares{
        background-color: var(--bg);
        padding-top: 15px;
    }
 
    /* Searchbar Data */
    .search-container {
        display: flex;
        align-items: center;
        background-color: var(--bg);
        padding: 10px;
        border-radius: 50px;
        width: 40%;
        border: 2px solid var(--theme);
        margin: 0 auto;
      }
      
      .search-input {
        flex-grow: 1;
        color: var(--theme);
        border: 2px solid var(--theme);
        border-radius: 10px;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 20px;
        font-family: Font1;
        margin-left: 30px;
      }
      
      .search-btn {
        margin-left: 5px;
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        color: white;
        cursor: pointer;
      }
      
      .search-btn:hover {
        background-color: var(--theme);
      }
      
      .close-btn {
        margin-left: 5px;
        padding: 10px 15px;
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
      }
      
      .close-btn:hover {
        border: 1px solid var(--theme);
      }


    .container{
        background-color: var(--bg);
        padding-bottom: 20px;
        width: 95% ;
        margin: 0 auto;
        padding-top: 40px;
    }

    /*Card Design*/
    .card-category-title{
        color: var(--theme);
        font-family: Font2;
        padding: 0px 20px;
        margin: 30px 46px 10px ;
        border-left: 3px solid var(--theme);
        font-weight: 700;
    }
    .card-wrapper{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        width: 95%;
        margin: 0 auto;
        /* margin-bottom: 10px; */
    }
    .card{
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 23%;
        margin: 18px;
        height: 43vh;
        border: 2px solid var(--theme) !important;
        border-radius: 10px;
        transition: 0.2s;
        background-color: transparent !important;
    }    /* .card:hover{
        background-color: #000000;
        border: 3px solid var(--theme);
        box-shadow: 0px 0px 10px 5px var(--theme);
        transition: 0.1s;
    } */
    .card:hover{
        background-color: #222222;
        border: 2px solid black !important;
        border-radius: 20px;
        border-bottom: 5px solid var(--theme) !important;
        transition: 0.2s;
        box-shadow: 0px 0px 30px 2px var(--theme);
    }
    .card:hover .card-name{
        color: var(--theme);
        transition: 0.1s;
    }
    .card:hover .card-download-link{
        background-color: var(--theme);
        border: 2px solid;
        color: #000000;
        font-weight: 700;
        transition: 0.1s;
    }
    .card-logo{
        width: 30%;
        display: block;
        margin: 25px auto;
        border-radius: 15px;
        /* padding: 25px 0px; */
    }
    .card-name{
        color: var(--text);
        font-size: 25px;
        font-family: Font1;
        text-align: center;
        margin-bottom: 10px;
    }
    .card-desc{
        color: var(--dim);
        font-family: Font2;
        text-align: center;
        margin-bottom: 20px;
    }
    .crack-alert{
        color: #f65050;
        font-family: Font1;
        font-size: 15px;
        text-align: center;
        margin-top: -30px;
    }
    .card-download-link{
        border: 2px solid var(--theme);
        text-decoration: none;
        font-family: Font2;
        color: var(--text);
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 70%;
        padding: 10px 20px;
        transition: 0.2s !important;
    }
    .card-download-link:hover{
        border: none !important;
        border-bottom: 3px solid var(--theme) !important;
        background-color: var(--bg) !important;
        color: var(--theme) !important;
        transition: 0.2s !important;
        font-weight: 700 !important;
    }
   
}