@media screen and (min-width : 992px){
    /*******PC SCREEN CSS*******/
    .intro{
        margin: 0;
        padding: 0px 0px 10px 0px;
        background-color: var(--bg);
    }
    .intro-text{
        color: #777888;
        opacity: 50% !important;
        font-size: 28px;
        font-family: Font2;
        /* text-shadow: 0px 0px 10px #ffffff !important; */
        margin: 0;

        position: absolute;
        top: 42%;
        left: 25%;
        
        padding: 8px 18px;
        display: block;
        width: 50%;
        text-align: center;
        margin:  0 auto;
    }
    .forward-text{
        display: none;
    }
    .main-cover{
        width: 100%;
    }
    .mobile-cover{
        display: none;
    }



    /******* Option *******/
    .option-section{
        background-color: var(--bg);
        padding: 10px 0px 40px 0px;
    }

    .option-wrapper{
        /* position: absolute;
        bottom: 15px; */
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;        
    }
    
    .option{
        /* border: 3px solid var(--theme); */
        margin: 0px 13px;
        padding: 8px;
        height: auto;
        width: 27%;
        transition: 0.1s;
        background-color: var(--bgh);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .option-logo-svg{
        width: 25%;
        padding: 0px;
        display: block;
        margin: 20px auto;
        fill: var(--theme);
    }

    .option-name{
        text-align: center !important;
        color: var(--text);
        margin-top: 10px;
        font-size: 22px;
        transition: 0.2s;
        font-family: Font2;
    }
    .option-desc{
        text-align: center !important;
        color: var(--dim);
        font-size: 17px;
        transition: 0.2s;
    }
    .option-link{
        text-decoration: none;

    }
    .option:hover{
        background-color: #222222;
        border: none;
        border-bottom: 4px solid var(--theme);
        transition: 0.2s;
    }
    .option:hover .option-logo-svg{
        fill: var(--theme);
        /* stroke: var(--theme); */
        transition: 0.1s;
    }
    .option:hover .option-name{
        color:var(--theme);
        font-weight: 800;
        font-size: 24px;
        transition: 0.2s;
    }
    .option:hover .option-desc{
        color: var(--text);
        transition: 0.2s;
    }





    .wrapper-r2{
        width: 98%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .c-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        text-decoration: none;
    }

    .c1, .c2, .c3{
        height: 17vh;
    }


    .option-text h3,p{
        text-align: right;
    }


    .c1-logo, .c2-logo, .c3-logo{
        margin: 0;
        padding: 10px;
        width: 16%;
        fill: var(--theme);
    }
    .c3-logo{
        width: 38%;
    }
    .c2-logo{
        width: 16%;
    }
    .righty{
        text-align: right !important;
    }


    .c1{
        width: 45%;
    }
    .c2{
        width: 35%;
    }
    .c3{
        width: 20%;
    }

    .wrapper3{
        padding-top: 25px;
        padding-bottom: 10px;
        height: 30vh;
    }
    .accessories{
        width: 20%;
        height: 25vh;

    }
    .accessories a svg{
        width: 20%;
    }
    .customize{
        width: 30%;
        height: 25vh;
    }
    .customize a svg{
        width: 15%;
    }
    .tutorial{
        width: 20%;
        height: 25vh;

    }
    .tutorial a svg{
        width: 20%;
    }
    .suggession{
        width: 25%;
        height: 25vh;

    }
    .suggession a svg{
        width: 20%;
    }

}

@media screen and (max-width: 1280px) and (max-height: 720px) {
    .intro-text{
        font-size: 28px;
        top: 40%;
        left: 32%;
    }
    .option{
        height: auto;
    }


    .accessories{
        width: 20%;
        height: vh;

    }
    .suggession{
        width: 25%;
        height: vh;

    }
    .tutorial{
        width: 20%;
        height: vh;

    }
    .customize{
        width: 35%;
        height: vh;
    }
}
@media screen and (max-width: 1280px) and (max-height: 1024px){
    .intro-text{
        position: absolute;
        top: 30%;
        left: 25%;
    }
    .wrapper3{
        padding: 0px;
        height: 25vh;
    }

    .accessories{
        width: 20%;
        height: 20vh;

    }
    .suggession{
        width: 25%;
        height: 20vh;

    }
    .tutorial{
        width: 20%;
        height: 20vh;

    }
    .customize{
        width: 35%;
        height: 20vh;
    }

    

}