*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
body{
    background: linear-gradient(#089cff,#1352ff);
    background-repeat: no-repeat;
}
*/

/*HEADER*/
.divider-hr{
    border: 2px solid rgb(46, 119, 255);
    opacity: 60%;

    margin: 0;
}
.mobile-divider-hr{
    display: none;
}
.logo{
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.inst-name{
   display: inline;
   margin-top: 15px;
   color: rgb(46, 119, 255);
   font-family: 'Raleway', sans-serif;
  
}
.links{
    display: block;
    float: right;
    padding-top: 18px;
    padding-right: 18px;
}

.links a{
    transition: 0.3s;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    
}
.links a:hover{
    transition: 0.3s;
    background-color: rgb(46, 119, 255);
    color: white;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


/*Students Corner*/
.student-corner{
    /* width: 20%; */
    margin-left: 30px;   
    margin-top: 10px;   
    margin-bottom: 20px;   
}
.student-corner h1{
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.corner-content{
    display: grid;
    border: 1px solid rgb(221, 221, 221);
}
.corner-content a{
    font-family: 'Roboto', sans-serif;
    border-bottom: 0.5px solid blue;
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 5px;
    font-size: 1.0rem;
    transition: 0.2s;
}
.corner-content a:hover{
   text-decoration: none;
   background-color: rgb(46, 119, 255);
   color: white;
   transition: 0.2s;
}
/*Students Corner END*/

/*Section A B*/

#section-a{
    /*background-image: linear-gradient(rgb(28, 185, 200) ,rgb(2, 81, 134));*/
    background-image: linear-gradient(to right, #3771c8, #306cd1, #2e67d9, #3261df, #3c59e5);
    /*background: rgb(0,151,255);
    background: linear-gradient(90deg, rgba(0,151,255,1) 14%, rgba(70,20,237,1) 63%);*/
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: px;
    
}
.a-img{
    width: 100%;
    border-radius: 10px;
}
.a-p{
    font-family: "Roboto","Sans-serif";
    padding-top: 40px;
    font-size: 1.2rem;
    color: white;
    font-weight: ;
}
#section-b{

    /*background-image: linear-gradient(rgb(28, 185, 200) ,rgb(2, 81, 134));*/
    background: rgb(0,151,255);
background: linear-gradient(90deg, rgba(0,151,255,1) 14%, rgba(70,20,237,1) 63%);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.b-img{
    width: 100%;
    border-radius: 10px;
}
.b-p{
    font-family: "Roboto","Sans-serif";
    padding-top: 40px;
    font-size: 1.2rem;
    color: white;
    font-weight: ;
}



/*Components START*/

.components{
    margin-top: 0px;
    padding-bottom: 10px;
    background: rgb(39,39,39);
    background: linear-gradient(90deg, rgba(39,39,39,1) 4%, rgba(23,23,23,1) 65%);
    
}


/*Message Dir*/
.message-director{
    width: ;
    background-color: ;
    color: white;
}
.message-director h3{
    font-family: "Raleway","sans-serif";
    padding-left: 20px;
    padding-top: 20px;
}
.short-texts p{
    padding-left: 20px;
    font-family: "Roboto","sans-serif";
}
.first-part {
    display: inline;
    padding-left: 20px;
}
.img-dir{
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline;
}
.dir-name{
    display: inline;
}
.first-part p{
    font-size: 1.2rem;
    padding-left: 20px;
}
.dir-details{
    font-family: "Raleway","sans-serif";
    font-size: 1.1rem;
    padding-left: 10px;
}
.message-director a{
    padding-left: 10px;
    padding-bottom: px;
}

/*Component > NEWS EVENT */

.news-event{
    background-color: ;/*272727*/
    color: white;
    padding-top: 20px;
    
}
.news-event h3{
    padding-left: 10px;
    font-family: "Raleway","sans-serif";
}
.news-event ol li{
    font-family: "Raleway","sans-serif";
}
.news-event ul li{
    font-family: "Raleway","sans-serif";
}



/*USEFUL LINKS*/
.useful-links{
    background-color: ;
    padding-left: 10px;
    padding-top: 20px;
    font-family: "Raleway","sans-serif";
    color: white;
    text-align:center;
}
.useful-links ul li a{
    text-decoration: none;
    color: white;
}
.useful-links ul li{
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
}
.useful-links ul li:hover{
    background-color: rgb(46, 119, 255);
    transition: 0.3s;
}

/*Components END*/



/*Contacts*/
#contact-admit{
    background: rgb(22,104,189);
    background: linear-gradient(90deg, rgba(22,104,189,1) 0%, rgba(0,138,255,1) 58%, rgba(0,155,255,1) 73%);
}
.contact{
    background-color: ;
    color: ;
    padding-left: 30px;
    padding-top: 10px;
}
.contact h3{
    font-weight:bolder;
    text-align: center;
    font-family: "Roboto",sans-serif;
}
.contact h5{
    font-weight:bolder;
    text-align: center;
    font-family: "Roboto",sans-serif;
}
.contact p{
    color: black;
    font-size: 1.2rem;
    font-family: "Raleway",sans-serif;
    border: 1px solid black;
    padding: 5px;
    font-weight: bolder;
    transition: 0.2s;
    text-align: center;
    width: 80%;
    margin: 10px auto;

}
.contact p a{
    color: rgba(31, 31, 31, 0.753);
}
.contact p:hover{
    background-color: rgb(46, 119, 255);
    transition: 0.2s;
}


/*Admission*/
.admission{
    padding-top: 5px;
    padding-bottom: 5px;
}
.admission img{
    position: relative;
    opacity: 50%;
    width: 400px;
    transition: 0.2s;
}
.admission-text{
    position: absolute;
    top: 40%;
    right: 25%;
    font-family: "Raleway",sans-serif;
}
.admit-btn{
    background-color: transparent;
    border: 2px solid black;
    padding: 10px;
    font-family: "Raleway",sans-serif;
    font-weight: bolder;
    position: absolute;
    top: 52%;
    right: 36%;
    transition: 0.3s;
}
.admit-btn:hover{
    background-color: rgb(46, 119, 255);
    transition: 0.3s;
}
.admission img:hover{
    opacity: 20%;
    transition: 0.2s;
}

/*MAP*/
.map{
    padding-top: 10px;
}
.map h3{
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-weight:bolder;
}
.map img{
    
    border: 1px solid black;
    width: 380px;
}
.map-btn{
    transition: 0.2s;
    border: 2px solid black;
    padding: 10px;
    font-family: sans-serif;
}
.map-btn:hover{
    background-color: rgb(46, 119, 255);
    transition: 0.2s;
}

/*Dept*/
.department{
    background-color: #272727;
}
.department h3{
    color: white;
    text-align: center;
    font-family: "Raleway",sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dept{
    background-color: ;
    padding-bottom: 20px;
    padding-bottom: 10px;
}
.dept img{
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    transition: 0.1s;
    margin-bottom: 5px;

}
.dept h4{
    color: white;
    text-align: center;
    font-family: "Raleway",sans-serif;
    font-weight: bolder;

}
.dept img:hover{
    transition: 0.1s;
    -webkit-box-shadow: 2px 0px 19px 9px rgba(46, 119, 255, 1);
-moz-box-shadow:    2px 0px 19px 9px rgba(46, 119, 255, 1);
box-shadow:         2px 0px 19px 9px rgba(46, 119, 255, 1);
}





/*Footer*/
footer{
    background-color: black;
    padding: 30px;
}
.copyright{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 1.0rem;
    opacity: 60%;
}



/*Notice Board*/
.notice-board{
    color: white;
    background-color: #272727;
    padding-top: 5px;
}
.notice-board h3{
    color: white;
    font-family: "Roboto",sans-serif;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Recent*/
.recent-notice{
    border: 3px solid rgb(22,104,189);
    border-radius: 10px;
    width: 50%;
    padding-left: 5px;
    margin-left: 20px;
    transition: 0.2s;
}
.recent-notice:hover{
    border: 3px solid rgb(18, 83, 153);
    transition: 0.2s;
}
.recent-notice h5{
    color: white;
    font-weight: bolder;
    font-family: "Raleway",sans-serif;
    text-align: center;
    padding-top: 5px;
}
.recent-notice ol li{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 1.2rem;
}
.recent-notice ol li a{
    color: white;
    text-decoration:none;
    transition: 0.2s;
}
.recent-notice ol li a:hover{
    color: #4d7cff;
    font-weight: bolder;
    transition: 0.2s;
}

/*EXAM*/
.exam-notice{
    border: 3px solid rgb(163, 13, 13);
    border-radius: 10px;
    float: right;
    transition: 0.2s;
    width: 40%;
    padding-left: 5px;
    margin-left: 20px;
}
.exam-notice:hover{
    transition: 0.2s;
    border: 3px solid rgb(134, 12, 12);
}
.exam-notice h5{
    color: white;
    font-weight: bolder;
    font-family: "Raleway",sans-serif;
    text-align: center;
    padding-top: 5px;
}
.exam-notice ul li{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 1.2rem;
}

/*Important Notice*/
.important-notice{
    border: 3px solid rgb(255, 70, 70);
    border-radius: 10px;
    
    
    padding-left: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.important-notice:hover{
    transition: 0.2s;
    border: 3px solid rgb(180, 31, 31);
}
.important-notice h5{
    color: rgb(255, 70, 70);
    font-weight: bolder;
    font-family: "Raleway",sans-serif;
    text-align: center;
    padding-top: 5px;
    
}
.important-notice ul li{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 1.2rem;
}
.important-notice ul li a{
    color: white;
    text-decoration:none;
    transition: 0.2s;
}
.important-notice ul li a:hover{
    color: #4d7cff;
    font-weight: bolder;
    transition: 0.2s;
}

/*Holiday*/
.holiday-notice{
    border: 3px solid rgb(32, 221, 111);
    border-radius: 10px;
    float: right;
    padding-left: 5px;
    margin-left: 20px;
    transition: 0.2s;
}
.holiday-notice:hover{
    border: 3px solid rgb(27, 165, 85);
    transition: 0.2s;
}
.holiday-notice h5{
    color: white;
    font-weight: bolder;
    font-family: "Raleway",sans-serif;
    text-align: center;
    padding-top: 5px;
}
.holiday-notice ul li{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 1.2rem;
}
#board-one{
    margin-bottom: 10px;
}
#board-two{
    padding-bottom: 20px;
}
.notice-last-update{
    color: white;
    text-align: right;
    font-family: "Roboto",sans-serif;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
}




/*CAROUSEL*/
.carousel{
    height: ;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}